@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-bg: #eceff1;
    --dark-bg: #1a1e2d;
    --light-block-bg: #607d8b;
    --dark-block-bg: #262f4d;
  }

  body {
    @apply bg-[var(--dark-bg)] h-[300vh];
    color: whitesmoke;
  }
}
